:root {
  --background: #2c4047;
  --primary: #02c98e;
  --primaryDark: #00ba82;
  --primaryXtraDark: #00a36f;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: white;
  margin: 0;
  padding: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: 1px solid var(--primaryDark);
  border-radius: 2px;
  background-color: var(--primary);
  padding: 4px 8px;
}

button:hover {
  background-color: var(--primaryDark);
  border-color: var(--primaryXtraDark);
}

button.pressed {
  background-color: var(--primaryXtraDark);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log {
  margin-top: 8px;
}
.log div {
  margin: 4px 8px;
}
